:root {
    --light-bg: #f2f2f2;
    --light-text: #333;
    --dark-bg: #333;
    --dark-text: #f2f2f2;
    --primary-color: #4CAF50;
    --primary-hover: #45a049;
    --dark-primary: #66BB6A;
    --dark-primary-hover: #57A05A;
}

/* Ustawienia ogólne */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 100px;
    overflow: auto;
}

/* Tryb jasny */
body.light-mode {
    background-color: var(--light-bg);
    color: var(--light-text);
}

/* Tryb ciemny */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Stylizacja nawigacji */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}

body.dark-mode nav {
    background-color: var(--dark-primary);
    color: var(--dark-text);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

/* Stylizacja kontenera */
.container {
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}
.containerHome {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

/* Stylizacja paska bocznego */
.sidebar {
    flex: 1;
    padding: 20px;
    background-color: var(--light-bg);
    border-right: 1px solid #ccc;
    position: fixed;
    width: 240px;
    top: 75px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    z-index: 1;
}

body.dark-mode .sidebar {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Stylizacja głównej zawartości */
.main-content {
    flex: 3;
    padding: 20px;
    margin-left: 240px;
}

/* Stylizacja przycisków sortowania */
.sort-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-buttons button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sort-buttons button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode .sort-buttons button {
    background-color: var(--dark-primary);
}

body.dark-mode .sort-buttons button:hover {
    background-color: var(--dark-primary-hover);
}

/* Stylizacja listy produktów */
.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.rating {
    display: flex;
}

.rating span {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    cursor: pointer;
}

.rating span.selected {
    background-color: #ffd700;
}

/* Stylizacja menu rozwijanego */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

body.dark-mode .dropdown-content {
    background-color: var(--dark-primary);
    color: var(--dark-text);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

body.dark-mode .dropdown-content a {
    color: var(--dark-text);
}

.dropdown-content a:hover {
    background-color: var(--primary-hover);
}

body.dark-mode .dropdown-content a:hover {
    background-color: var(--dark-primary-hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Stylizacja formularza filtrowania */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

form label {
    margin-top: 10px;
}

form input, form button {
    margin-top: 5px;
}

/* Stylizacja formularza edycji produktu */
.edit-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .edit-form {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.edit-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

body.dark-mode .edit-form label {
    color: var(--dark-text);
}

.edit-form input[type="text"], .edit-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

body.dark-mode .edit-form input[type="text"], body.dark-mode .edit-form textarea {
    background-color: #555;
    border: 1px solid #666;
    color: var(--dark-text);
}

.edit-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.edit-form button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode .edit-form button {
    background-color: var(--dark-primary);
}

body.dark-mode .edit-form button:hover {
    background-color: var(--dark-primary-hover);
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

body.dark-mode .cart-item {
    background-color: #444;
    border: 1px solid #666;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
    flex: 2; /* Dodajemy flex: 2, aby nazwa produktu zajmowała więcej miejsca */
}

.product-quantity,
.product-price {
    font-size: 1em;
    color: #666;
    flex: 1; /* Dodajemy flex: 1, aby liczba i cena zajmowały mniej miejsca */
    text-align: right; /* Wyrównujemy tekst do prawej */
}

body.dark-mode .product-quantity,
body.dark-mode .product-price {
    color: #ccc;
}

form button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Dodajemy odstęp między przyciskiem a innymi elementami */
}

form button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode form button {
    background-color: var(--dark-primary);
}

body.dark-mode form button:hover {
    background-color: var(--dark-primary-hover);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .containerHome {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        border-right: none;
    }

    .main-content {
        margin-left: 0;
    }
}
