/**
 * @file style.css
 * @brief Plik CSS do stylizacji strony.
 *
 * Ten plik zawiera definicje stylów CSS dla różnych elementów strony, w tym trybów jasnego i ciemnego, kontenera formularza, nagłówków, etykiet, pól wejściowych, przycisków, linków oraz komunikatów o błędach.
 */

/* Ustawienia ogólne */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Tryb jasny */
body.light-mode {
    background-color: #f2f2f2;
    color: #333;
}

/* Tryb ciemny */
body.dark-mode {
    background-color: #333;
    color: #f2f2f2;
}

/* Stylizacja kontenera formularza */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body.dark-mode form {
    background-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Stylizacja nagłówków */
h2 {
    margin-bottom: 20px;
}

body.light-mode h2 {
    color: #333;
}

body.dark-mode h2 {
    color: #f2f2f2;
}

/* Stylizacja etykiet */
label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

body.light-mode label {
    color: #666;
}

body.dark-mode label {
    color: #ccc;
}

/* Stylizacja pól wejściowych */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="password"],
body.dark-mode input[type="email"] {
    background-color: #555;
    border: 1px solid #888;
    color: #f2f2f2;
}

/* Stylizacja przycisków */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

body.dark-mode button {
    background-color: #66BB6A;
}

body.dark-mode button:hover {
    background-color: #57A05A;
}

.small-button {
    padding: 5px 10px;
    font-size: 0.8em;
    max-width: 150px;
}

/* Stylizacja linków */
a {
    text-decoration: none;
}

body.light-mode a {
    color: #4CAF50;
}

body.dark-mode a {
    color: #66BB6A;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    min-width: 300px;
    max-width: 350px;
}

/* Stylizacja komunikatów o błędach */
.error-message {
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 10px;
}

body.light-mode .error-message {
    color: red;
}

body.dark-mode .error-message {
    color: #FF6666;
}
