<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Site</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homePage.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li th:if="${username != null}" class="dropdown">
            <a href="#" th:text="${username}"></a>
            <div class="dropdown-content">
                <a href="#">Koszyk</a>
                <a th:href="@{/logout}">Logout</a>
            </div>
        </li>
        <li th:if="${username == null}"><a th:href="@{/login}">Zaloguj się</a></li>
        <li th:if="${username == null}"><a th:href="@{/register}">Zarejestruj się</a></li>
        <li><a th:href="@{/add-product}">Add Product</a></li>
        <li><a id="theme-toggle" href="#">Zmień tryb</a></li>
        <li><a href="#">Polski</a></li>
    </ul>
</nav>
<div class="container">
    <h1>Product List</h1>
    <ul>
        <li th:each="product : ${products}" class="product" th:id="'product-' + ${product.id}">
            <a th:href="@{/product/{id}(id=${product.id})}"><h2 th:text="${product.name}"></h2></a>
            <p th:text="${product.description}"></p>
            <span th:text="${product.price}"></span>
            <div class="rating" th:attr="data-product-id=${product.id}">
                <p>Ocena: (<span th:text="${product.opinionCount}"></span>)</p>
                <span th:each="star : ${#numbers.sequence(1, 5)}"
                      th:classappend="${star <= product.rating} ? 'selected' : ''"></span>
            </div>
        </li>
    </ul>
</div>

<script th:inline="javascript">
    const currentTheme = localStorage.getItem('theme') || 'light-mode';
    document.body.classList.add(currentTheme);
    document.getElementById('theme-toggle').addEventListener('click', function () {
        const newTheme = document.body.classList.contains('light-mode') ? 'dark-mode' : 'light-mode';
        document.body.classList.remove('light-mode', 'dark-mode');
        document.body.classList.add(newTheme);
        localStorage.setItem('theme', newTheme);
    });
</script>

</body>
</html>
