<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<h2 th:text="#{login.title}">Login</h2>
<div class="button-container">
    <button id="theme-toggle" class="small-button" th:text="#{buttons.changeTheme}">Zmien tryb</button>
    <button id="language-toggle" class="small-button" th:text="#{buttons.language}">Polski</button>
</div>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <div>
        <label for="username" th:text="#{login.username}">Nazwa uzytkownika:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password" th:text="#{login.password}">Haslo:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
    <div th:if="${captchaError}" class="error-message"> <p th:text="${captchaError}"></p> </div>
    <div>
        <button type="submit" th:text="#{login.submit}">Zaloguj sie</button>
    </div>
</form>
<p th:utext="#{login.noAccount}">Nie masz konta? <a th:href="@{/register}(lang=${lang})" id="register-link">Zarejestruj sie tutaj</a></p>
<script>
    const currentTheme = localStorage.getItem('theme') || 'light-mode';
    document.body.classList.add(currentTheme);
    document.getElementById('theme-toggle').addEventListener('click', function () {
        const newTheme = document.body.classList.contains('light-mode') ? 'dark-mode' : 'light-mode';
        document.body.classList.remove('light-mode', 'dark-mode');
        document.body.classList.add(newTheme);
        localStorage.setItem('theme', newTheme);
    });

    document.getElementById('language-toggle').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent form submission
        console.log('Language toggle button clicked'); // Debugging
        const currentLanguage = new URLSearchParams(window.location.search).get('lang') || 'pl';
        console.log('Current Language:', currentLanguage); // Debugging
        const newLanguage = currentLanguage === 'pl' ? 'en' : 'pl';
        console.log('New Language:', newLanguage); // Debugging
        window.location.replace(`${window.location.pathname}?lang=${newLanguage}`);
    });

    let alertMessage = "Proszę zaznaczyć CAPTCHA.";
    document.querySelector('form').addEventListener('submit', function(event) {
        var recaptcha = document.querySelector('.g-recaptcha-response').value;
        if (recaptcha === "") {
            event.preventDefault();
            alert(alertMessage);
        }
    });
</script>
</body>
</html>
