<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<h2>Login</h2>
<div class="button-container">
    <button id="theme-toggle" class="small-button">Zmień tryb</button>
    <button id="language-toggle" class="small-button">Polski</button>
</div>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <div>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
    <div th:if="${captchaError}" class="error-message"> <p th:text="${captchaError}"></p> </div>
    <div>
        <button type="submit">Zaloguj się</button>
    </div>
</form>
<p>Nie masz konta? <a th:href="@{/register}" id="register-link">Zarejestruj się tutaj</a></p>
<script>
    const currentTheme = localStorage.getItem('theme') || 'light-mode';
    document.body.classList.add(currentTheme);
    document.getElementById('theme-toggle').addEventListener('click', function () {
        const newTheme = document.body.classList.contains('light-mode') ? 'dark-mode' : 'light-mode';
        document.body.classList.remove('light-mode', 'dark-mode');
        document.body.classList.add(newTheme);
        localStorage.setItem('theme', newTheme);
    });
    const savedLanguage = localStorage.getItem('language') || 'Polski';
    if (savedLanguage === 'English') {
        translatePageToEnglish();
    } else {
        translatePageToPolish();
    }
    document.getElementById('language-toggle').addEventListener('click', function () {
        const button = document.getElementById('language-toggle');
        if (button.innerText === 'Polski') {
            translatePageToEnglish();
        } else {
            translatePageToPolish();
        }
    });
    let alertMessage = "Proszę zaznaczyć CAPTCHA.";
    document.querySelector('form').addEventListener('submit', function(event) {
        var recaptcha = document.querySelector('.g-recaptcha-response').value;
        if (recaptcha === "") {
            event.preventDefault();
            alert(alertMessage);
        }
    });

    function translatePageToEnglish() {
        document.querySelector('button[id="theme-toggle"]').innerText = "Change theme";
        document.querySelector('button[id="language-toggle"]').innerText = "English";
        document.querySelector('h2').innerText = 'Login';
        document.querySelector('label[for="username"]').innerText = 'Username:';
        document.querySelector('label[for="password"]').innerText = 'Password:';
        document.querySelector('button[type="submit"]').innerText = 'Login';
        document.querySelector('p').innerHTML = 'Don\'t have an account? <a href="/register" id="register-link">Register here</a>';
        //alertMessage = "Please check the CAPTCHA.";
        localStorage.setItem('language', 'English');
    }

    function translatePageToPolish() {
        document.querySelector('button[id="theme-toggle"]').innerText = "Zmień tryb";
        document.querySelector('button[id="language-toggle"]').innerText = "Polski";
        document.querySelector('h2').innerText = 'Login';
        document.querySelector('label[for="username"]').innerText = 'Nazwa użytkownika:';
        document.querySelector('label[for="password"]').innerText = 'Hasło:';
        document.querySelector('button[type="submit"]').innerText = 'Zaloguj się';
        document.querySelector('p').innerHTML = 'Nie masz konta? <a href="/register" id="register-link">Zarejestruj się tutaj</a>';
        //alertMessage = "Proszę zaznaczyć CAPTCHA.";
        localStorage.setItem('language', 'Polski');
    }
</script>
</body>
</html>
